<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../../public/styles.css">
    <title>Document</title>
</head>
<body>
<nav class="navbar fixed-top navbar-expand-md bg-danger navbar-dark px-5">
    <div class="container-fluid">
        <a class="navbar-brand col" href="/">R&A Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="col-auto">
                <div class="navbar-nav flex-column flex-md-row justify-content-around">
                    <a class="nav-link " aria-current="page" href="/">Home</a>
                    <a class="nav-link" href="/products">Products</a>
                    <a class="nav-link" href="/products/new_product">New Product</a>
                    <a class="nav-link " href="/chat/">Chat!</a>
                    <a class="nav-link position-relative active" href="/cart/1">Cart<span
                    class="position-absolute top-1 start-100 translate-middle badge rounded-pill bg-warning"> {{products_quantity}}</span></a>
                </div>
            </div>
        </div>
    </div>
</nav>  	
<section class="pt-5">
	<div class="container mt-2 pt-2" id="card-cart">
		<div class="row" id="row-cart">
			{{#each products_data}}
				<div class="col-md-4 col-sm-6 mb-3 mb-sm-3" id="cart-div">
					<div class="card" id="card-cart">
						<img src={{this.thumbnail}} class="card-img-top" alt={{this.title}} />
						<div class="card-body" >
							<h5 class="card-title limited-title">{{this.title}}</h5>
							<p class="card-text limited-paragraph">{{this.description}}</p>
							<p
								class="card-title price-tag {{this.price}} {{pid}}"
								id="price-value-{{pid}}"
							>Price:
								{{this.price}}</p>
							<p class="card-title">Quantity:
								<input
									type="number"
									class="form-control d-inline-block w-50 input-tag input-value-{{this.cid}}
										{{this.cid}}
										{{pid}}"
									maxlength="4"
									placeholder={{this.quantity}}
									value={{this.quantity}}
									min="0"
									max={{sum this.quantity this.stock}}
									aria-label="item quantity"
									aria-describedby="addon-wrapping"
									id="edit-cart-quantity-{{this.pid}}"
									data-id="{{this.pid}}"
								/>
							</p>
							<h5
								class="card-title card-tag card-multiplication-{{pid}}"
								id="card-multiplication-{{pid}}"
							>Total: ${{multiplication this.price this.quantity}}</h5>
							<div class="d-flex justify-content-between pt-3">
								<button
									type="button"
									class="btn btn-danger cart-{{this.pid}} delete-product"
									data-pid="{{this.pid}}"
									data-cid="{{this.cid}}"
								>Delete</button>

								<button
									type="button"
									class="btn btn-warning edit-quantity {{this.pid}} {{this.cid}} text-white"
								>add cart</button>

							</div>
						</div>
					</div>
				</div>

			{{/each}}

		</div>
	</div>
</section>
</body>
</html>
